.task {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.27);
  border-radius: 40px;
  margin: 20px 0;
  padding: 0 60px;

  .general-info {
    display: flex;
    align-items: center;

    .description {
      max-width: 550px;
      margin: 0 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .secondary-info {
    display: flex;
    justify-content: center;

    .time-info {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
    }
  }
}
