<div class="everything">
  <div class="tile"
    [routerLink]="['/project/', project.id]"
    [ngClass]="{
    'initiated': project.state === stateEnum.INITIATED,
    'in-progress': project.state === stateEnum.IN_PROGRESS,
    'halted': project.state === stateEnum.HALTED,
    'finished': project.state === stateEnum.FINISHED}"
  >

    <div class="info">
      <h1 class="title">{{project.title}}</h1>

      <div class="status">
        <div class="hours">
          <fa-icon [icon]="faStopwatch"></fa-icon>{{project.estimatedDurationInHours}}h
        </div>

        <app-traffic-light
          [complexity]="project.complexity"
          [size]="sizeEnum.SMALL"
          [horizontal]="true"
        ></app-traffic-light>
      </div>
    </div>

    <div class="description">
      {{project.description}}
    </div>
  </div>

  <div class="multiple-tasks-indicator"
    *ngIf="project.tasks.length > 1"
    [ngClass]="{
      'initiated': project.state === stateEnum.INITIATED,
      'in-progress': project.state === stateEnum.IN_PROGRESS,
      'halted': project.state === stateEnum.HALTED,
      'finished': project.state === stateEnum.FINISHED}"
  >
    <div class="additional-indicator"></div>
  </div>
</div>
