<div class="project-tile" [ngClass]="{
    'initiated': project.state === stateEnum.INITIATED,
    'in-progress': project.state === stateEnum.IN_PROGRESS,
    'halted': project.state === stateEnum.HALTED,
    'finished': project.state === stateEnum.FINISHED}">
  <div class="grid-container" [routerLink]="['/project/', project.id]">

    <div class="project-information">
      <h1>{{project.title}}</h1>
      <div class="project-description">
        {{project.description}}
      </div>
    </div>
    <div class="project-status">
      <app-traffic-light
        [complexity]="project.complexity"
        [size]="sizeEnum.SMALL"
        [horizontal]="false"
      ></app-traffic-light>
      {{project.estimatedDurationInHours}}h
    </div>
  </div>
</div>
