<div class="label-container">
  <label>State*</label>
</div>
<div class="picker">
  <div class="item"
      (click)="changeState(stateEnum.INITIATED)"
      [ngClass]="{
        'item--active': currentState === stateEnum.INITIATED,
        'locked': isDisabled,
        'non-clickable': !isChangeAllowed(stateEnum.INITIATED)
      }"
  >
    INITIATED
  </div>
  <div class="item"
      (click)="changeState(stateEnum.IN_PROGRESS)"
      [ngClass]="{
        'item--active': currentState === stateEnum.IN_PROGRESS,
        'locked': isDisabled
      }"
  >
    IN PROGRESS
  </div>
  <div class="item"
      (click)="changeState(stateEnum.HALTED)"
      [ngClass]="{
        'item--active': currentState === stateEnum.HALTED,
        'locked': isDisabled
      }"
  >
    HALTED
  </div>
  <div class="item"
      (click)="changeState(stateEnum.FINISHED)"
      [ngClass]="{
        'item--active': currentState === stateEnum.FINISHED,
        'locked': isDisabled
      }"
  >
    FINISHED
  </div>
</div>
