.label-container {
  display: flex;
  justify-content: center;
}

.picker {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  padding: 10px;

  .item {
    padding: 10px 20px;
    width: 120px;
    text-align: center;
  }

  .item:hover {
    cursor: pointer;
  }

  .item--active {
    background-color: black;
    border-radius: 7px;
    color: white;
    font-weight: bold;
  }
}

// for medium and tablet screens
@media (min-width: 700px) and (max-width: 1100px) {
}

// for mobile screens
@media (max-width: 700px) {

  .picker {
    flex-direction: column;
  }
}
