$traffic-light-width: 50px;
$traffic-light-height: 125px;
$indicator-size: 30px;

.traffic-light {
  background-color: var(--color-font-secondary);
  border-radius: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .indicator {
    background-color: var(--color-complexity-empty);
    border-radius: 50%;
  }
}

.traffic-light.small {
  width: $traffic-light-width*0.6;
  height: $traffic-light-height*0.6;

  .indicator {
    width: $indicator-size*0.6;
    height: $indicator-size*0.6;
  }
}

.traffic-light.default {
  width: $traffic-light-width;
  height: $traffic-light-height;

  .indicator {
    width: $indicator-size;
    height: $indicator-size;
  }
}

.traffic-light.big {
  width: $traffic-light-width*1.2;
  height: $traffic-light-height*1.2;

  .indicator {
    width: $indicator-size*1.2;
    height: $indicator-size*1.2;
  }
}

.traffic-light.horizontal {
  transform: rotate(90deg);
}

.traffic-light.easy {

  .indicator.green {
    background-color: var(--color-complexity-easy);
  }

  .indicator.yellow {
    background-color: var(--color-complexity-empty);
  }

  .indicator.red {
    background-color: var(--color-complexity-empty);
  }
}

.traffic-light.medium {

  .indicator.green {
    background-color: var(--color-complexity-empty);
  }

  .indicator.yellow {
    background-color: var(--color-complexity-medium);
  }

  .indicator.red {
    background-color: var(--color-complexity-empty);
  }
}

.traffic-light.difficult {

  .indicator.green {
    background-color: var(--color-complexity-empty);
  }

  .indicator.yellow {
    background-color: var(--color-complexity-empty);
  }

  .indicator.red {
    background-color: var(--color-complexity-difficult);
  }
}
