.overview {
  margin: 100px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: space-evenly;
  align-content: center;

  // remove when tiles are added
  border: 1px solid black;
  border-radius: 5px;
}

// remove when tiles are added
.project-tile {
  height: 150px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px 0;
}

// for medium and tablet screens
@media (min-width: 700px) and (max-width: 1100px) {
  .overview {
    grid-template-columns: 300px 300px;
    max-width: 900px;
  }
}

// for mobile screens
@media (max-width: 700px) {
  .overview {
    grid-template-columns: 350px;
  }
}
