<div class="menu-bar">
  <div class="menu-button"></div>
  <div class="home-link" [routerLink]="['/']">
    <img class="logo" src="assets/images/logo-banner.png">
  </div>
  <div class="menu-button"></div>
</div>

<div class="project-card"
  [ngClass]="{
    'initiated': project.state === stateEnum.INITIATED,
    'in-progress': project.state === stateEnum.IN_PROGRESS,
    'halted': project.state === stateEnum.HALTED,
    'finished': project.state === stateEnum.FINISHED}"
>

<div class="row">
  {{project.title}},
  {{project.estimatedDurationInHours}}
</div>

<div class="row">
  {{project.description}}
</div>

<div class="row">
  {{project.state}},
  {{project.complexity}}
</div>

<div class="row">
  buttons
</div>

</div>
