.edit-button {
  font-size: 1.4rem;
}

.project-card {
  max-width: 1000px;
  margin: 150px auto;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px #0000008c;
}

.form-headline {
  text-align: center;
  margin-top: 0;
}

.projectForm {
  width: 80%;
  margin: 0 auto;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unit {
  display: flex;
  flex-direction: row;
  align-items: center;

  .unit-indicator {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 5px;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.initiated {
  background-color: var(--color-state-initiated);
}

.in-progress {
  background-color: var(--color-state-in-progress);
}

.halted {
  background-color: var(--color-state-halted);
}

.finished {
  background-color: var(--color-state-finished);
}

// for medium and tablet screens
@media (min-width: 700px) and (max-width: 1100px) {
  .project-card {
    margin: 100px 15px 50px 15px;
  }

  .projectForm {
    width: 90%;
  }

  .top {
    flex-direction: column;
  }
}

// for mobile screens
@media (max-width: 700px) {
  .project-card {
    margin: 100px 15px 50px 15px;
    padding: 20px;
  }

  .projectForm {
    width: 95%;
  }

  .top {
    flex-direction: column;
  }
}
