<div class="menu-bar">
  <div class="menu-button"></div>
  <div class="home-link" [routerLink]="['/']">
    <img class="logo" src="assets/images/logo-banner.png">
  </div>
  <div class="menu-button"></div>
</div>

<div class="project-card"
  [ngClass]="{
    'initiated': project.state === stateEnum.INITIATED,
    'in-progress': project.state === stateEnum.IN_PROGRESS,
    'halted': project.state === stateEnum.HALTED,
    'finished': project.state === stateEnum.FINISHED}"
>

  <form class="projectForm" [formGroup]="projectForm" (ngSubmit)='save()'>
    <div class="top">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text" class="form-control">
      </div>

      <div class="form-group estimatedDuration">
        <label for="estimatedDurationInHours">Est. duration</label>
        <div class="unit">
          <input id="estimatedDurationInHours" formControlName="estimatedDurationInHours" type="number" class="form-control">
          <span class="unit-indicator">h</span>
        </div>
      </div>
    </div>

    <div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" rows="4" class="form-control"></textarea>
      </div>
    </div>

    <div class="bottom">
      <div class="form-group">
        <label for="state">State</label>
        <select id="state" class="form-control" (change)="changeState($event)">
          <option *ngFor="let s of keys(stateEnum); index as i" [ngValue]="s" [selected]="i === project.state">
            {{s | uppercase}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="complexity">Complexity</label>
        <select id="complexity" class="form-control" (change)="changeComplexity($event)">
          <option *ngFor="let c of keys(complexityEnum); index as i" [ngValue]="c" [selected]="i === project.complexity">
            {{c | uppercase}}
          </option>
        </select>
      </div>
    </div>

    <div class="controls">
      <button class="delete" type="button" (click)="deleteProject()">{{ 'delete' | uppercase }}</button>
      <button class="cancel" type="button" [routerLink]="['/project', project.id]">{{ 'cancel' | uppercase }}</button>
      <button class="save" type="submit" [disabled]="!projectForm.valid">{{ 'save' | uppercase }}</button>
    </div>
  </form>

</div>
