.edit-button {
  font-size: 1.4rem;
}

.project-card {
  max-width: 1000px;
  margin: 150px auto;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px #0000008c;
}

.projectForm {
  width: 80%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  label {
    font-size: 0.8rem;
    color: rgb(56, 56, 56);
  }

  input, textarea {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    font-size: 2rem;
    border: 2px solid rgba(0, 0, 0, 0);
    padding-left: 10px;
  }

  textarea {
    font-size: 1.7rem;
  }

  input[type="number"] {
    width: 100px;
  }

  input:focus-visible, textarea:focus-visible {
    outline: none;
    border-color: grey;
  }

  select {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    font-size: 2rem;
    border: 2px solid rgba(0, 0, 0, 0);
    padding-left: 10px;
    min-width: 270px;
  }

  select:focus-visible {
    outline: none;
    border-color: grey;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0;

  button {
    min-width: 170px;
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: 7px;
    font-size: 1.7rem;
    border: none;
    box-shadow: 0px 0px 5px 0px #0000008c;
  }

  button:hover {
    cursor: pointer;
  }

  button.delete {
    background-color: rgb(199, 0, 0);
    color: white;
  }

  button.cancel {
    background-color: rgb(212, 198, 0);
    color: black;
  }

  button.save {
    background-color: rgb(0, 148, 25);
    color: white;
  }

  button:disabled {
    background-color: rgba(0, 0, 0, 0.26);
    color: grey;
  }
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unit {
  display: flex;
  flex-direction: row;
  align-items: center;

  .unit-indicator {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 5px;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.initiated {
  background-color: var(--color-state-initiated);
}

.in-progress {
  background-color: var(--color-state-in-progress);
}

.halted {
  background-color: var(--color-state-halted);
}

.finished {
  background-color: var(--color-state-finished);
}

// for medium and tablet screens
@media (min-width: 700px) and (max-width: 1100px) {
  .project-card {
    margin: 100px 15px 50px 15px;
  }

  .projectForm {
    width: 90%;
  }

  .top {
    flex-direction: column;
  }

  .controls {
    flex-direction: column-reverse;
  }
}

// for mobile screens
@media (max-width: 700px) {
  .project-card {
    margin: 100px 15px 50px 15px;
    padding: 20px;
  }

  .projectForm {
    width: 95%;
  }

  .top {
    flex-direction: column;
  }

  .controls {
    flex-direction: column-reverse;
  }
}
