:root{
  --color-background: #424b54;
  --color-taskbar: rgba(109, 109, 109, 0.507);
  --color-state-initiated: #b09e99;
  --color-state-in-progress: #3aaed8;
  --color-state-halted: #ea9010;
  --color-state-finished: #74bf28;
}
