<div class="menu-bar">
  <h1>projectU</h1>
</div>

<div class="project-card" [ngClass]="getState()">
  <div class="general-info row">
    <div class="column">
      <h1>{{project.title}}</h1>
      <p>{{project.description}}</p>
      <p class="date">{{project.createdAt}}</p>
    </div>

    <div class="row">
      <div class="column">
        <p>{{project.estimatedDurationInHours}}h</p>
        <p>{{project.state}}</p>
      </div>

      <app-traffic-light
        [complexity]="project.complexity"
        [size]="sizeEnum.BIG"
        [horizontal]="false"
      ></app-traffic-light>
    </div>
  </div>

  <div class="task-list column">
    <div class="task row" *ngFor="let task of project.tasks">
      <h1>{{task.title}}</h1>
      <p>{{task.description}}</p>

      <div class="column">
        <p>{{task.estimatedDurationInHours}}h</p>
        <app-traffic-light
          [complexity]="task.complexity"
          [horizontal]="true"
        ></app-traffic-light>
      </div>
    </div>
  </div>

  <div class="results">
    <div class="expected">
      <h1>Expected Result</h1>
      <p>{{project.expectedResult}}</p>
    </div>

    <div class="actual">
      <h1>Actual Result</h1>
      <p>{{project.actualResult}}</p>
    </div>
  </div>

  <div class="period">
    <p>Von {{project.startedAt}} bis {{project.finishedAt}}</p>
  </div>
</div>
