.menu-bar {
  background-color: var(--color-menu-bar);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 1.5rem;

  h1 {
    text-align: center;
  }
}

.project-card {
  max-width: 1000px;
  margin: 150px auto;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px #0000008c;

  .general-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 60px 30px 60px;

    h1 {
      font-size: 2rem;
      margin-bottom: 8px;
    }

    .description {
      margin-top: 8px;
      max-width: 600px;
    }

    .date {
      font-size: 0.8rem;
      font-weight: bold;
      color: var(--color-font-secondary);
    }
  }

  .secondary-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 10px;
    font-weight: bold;
    color: var(--color-font-secondary);

    .hours {
      font-size: 3rem;
    }

    .state {
      font-size: 1.5rem;
    }

    p { margin: 0;}
  }

  .period {
    display: flex;
    justify-content: center;

    p {
      margin-bottom: 0;
    }

    .time-info {
      font-weight: bold;
      color: var(--color-font-secondary);
    }
  }
}

.initiated {
  background-color: var(--color-state-initiated);
}

.in-progress {
  background-color: var(--color-state-in-progress);
}

.halted {
  background-color: var(--color-state-halted);
}

.finished {
  background-color: var(--color-state-finished);
}
