<div class="menu-bar">
  <div class="back-button menu-button" routerLink="../../">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </div>
  <div class="home-link" [routerLink]="['/']">
    <img class="logo" src="assets/images/logo-banner.png">
  </div>
  <div class="edit-button menu-button" [routerLink]="['edit', project]">
    <fa-icon [icon]="faEdit"></fa-icon>
  </div>
</div>

<div class="project-card"
  [ngClass]="{
    'initiated': project.state === stateEnum.INITIATED,
    'in-progress': project.state === stateEnum.IN_PROGRESS,
    'halted': project.state === stateEnum.HALTED,
    'finished': project.state === stateEnum.FINISHED}"
>
  <div class="primary-info row">

    <div class="column">
      <h1>{{project.title}}</h1>
      <p class="description">{{project.description}}</p>
      <p class="date">{{project.createdAt}}</p>
    </div>

    <div class="row">
      <div class="secondary-info column">
        <p class="hours">
          <fa-icon [icon]="faStopwatch"></fa-icon>{{project.estimatedDurationInHours}}h
        </p>
        <p class="state" *ngIf="project.state === stateEnum.INITIATED">INITIATED</p>
        <p class="state" *ngIf="project.state === stateEnum.IN_PROGRESS">IN PROGRESS</p>
        <p class="state" *ngIf="project.state === stateEnum.HALTED">HALTED</p>
        <p class="state" *ngIf="project.state === stateEnum.FINISHED">FINISHED</p>
      </div>

      <app-traffic-light
        [complexity]="project.complexity"
        [size]="sizeEnum.BIG"
        [horizontal]="false"
      ></app-traffic-light>
    </div>
  </div>

  <div class="task-list column">
    <app-task-bar *ngFor="let task of project.tasks"
      [task]="task"
    ></app-task-bar>
  </div>

  <div class="results">
    <div class="expected">
      <h1>Expected Result</h1>
      <p>{{project.expectedResult}}</p>
    </div>

    <div class="actual" *ngIf="project.state === stateEnum.FINISHED">
      <h1>Actual Result</h1>
      <p>{{project.actualResult}}</p>
    </div>
  </div>

  <div class="period">
    <p>Von <span class="time-info">{{project.startedAt}}</span> bis
      <span class="time-info" *ngIf="project.state === stateEnum.FINISHED">{{project.finishedAt}}</span>
      <span class="time-info" *ngIf="project.state !== stateEnum.FINISHED">Heute</span>
    </p>
  </div>
</div>
