<div class="menu-bar">
  <h1>projectU</h1>
</div>

<div class="project-card" [ngClass]="getState()">
  <div class="general-info row">
    <div class="column">
      <h1>{{project.title}}</h1>
      <p class="description">{{project.description}}</p>
      <p class="date">{{project.createdAt}}</p>
    </div>

    <div class="row">
      <div class="secondary-info column">
        <p class="hours">{{project.estimatedDurationInHours}}h</p>
        <p class="state">{{getState() | uppercase}}</p>
      </div>

      <app-traffic-light
        [complexity]="project.complexity"
        [size]="sizeEnum.BIG"
        [horizontal]="false"
      ></app-traffic-light>
    </div>
  </div>

  <div class="task-list column">
    <app-task-bar
      *ngFor="let task of project.tasks"
      [task]="task"
    ></app-task-bar>
  </div>

  <div class="results">
    <div class="expected">
      <h1>Expected Result</h1>
      <p>{{project.expectedResult}}</p>
    </div>

    <div class="actual" *ngIf="project.state === stateEnum.FINISHED">
      <h1>Actual Result</h1>
      <p>{{project.actualResult}}</p>
    </div>
  </div>

  <div class="period">
    <p>Von <span class="time-info">{{project.startedAt}}</span> bis
      <span class="time-info" *ngIf="project.state === stateEnum.FINISHED">{{project.finishedAt}}</span>
      <span class="time-info" *ngIf="project.state !== stateEnum.FINISHED">Heute</span>
    </p>
  </div>
</div>
